<table class="container">
    <tr>
        <td>
            <table class="row">
                <tr>
                    <td class="wrapper last">
                        <table class="twelve columns">
                            <tr>
                                <td>
                                    <h3>
                                        <%= "Newly consigned vehicle #{@vehicle.name}, will arrived at the #{@vehicle.showroom.name} showroom." %>
                                    </h3>
                                    <p>
                                        <%= "Please coordinate the logistics of photographing this vehicle with the #{@vehicle.showroom.name} showroom staff and please have all images, video and recordings uploaded to CASE no later than two calendar days from today." %>
                                    </p>
                                </td>
                                <td class="expander"></td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
